name: Project checks

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  consensus-changelog:

    name: Changelog sanity check

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:

    - uses: actions/checkout@v3
      with:
        path: 'this-pr'

    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.base.ref || github.event.merge_group.base_ref }}
        path: 'main'

    - run: CI=1 ./this-pr/scripts/ci/check-changelogs.sh main this-pr

  cabal-project-asserts:

    name: Cabal project asserts

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    env:

      # current ref from: 27.02.2022
      SECP256K1_REF: ac83be33d0956faf6b7f61a60ab524ef7d6a473a

      SECP_CACHE_VERSION: "2023-04-27"

    steps:

    - uses: actions/checkout@v3

    - name: Install Haskell
      uses: input-output-hk/setup-haskell@v1
      id: setup-haskell
      with:
        cabal-version: "3.10.1.0"
        ghc-version: "9.2.7"

    - name: Install build environment
      run: |
        sudo apt-get update
        sudo apt-get -y install libsodium-dev

    - name: Install secp256k1
      uses: input-output-hk/setup-secp256k1@v1
      with:
        git-ref: ${{ env.SECP256K1_REF }}
        cache-version: ${{ env.SECP_CACHE_VERSION }}

    - run: |
        ./scripts/ci/regen-project-asserts.sh
        git --no-pager diff --exit-code
