name: Documentation

# Limit concurrent runs of this workflow within a single PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  merge_group:

jobs:
  # https://docusaurus.io/docs/deployment#triggering-deployment-with-github-actions
  #
  # We test the website build on pull requests, without building any static
  # assets (pdfs, haddocks), and without deploying the website to github-pages.
  # The build should still succeed regardless, and serves as a check before we
  # deploy the documentation website on the default branch.
  test-deploy-documentation:
    name: Test documentation deployment
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs/website
    strategy:
       fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: './docs/website/yarn.lock'

      - uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            accept-flake-config = true

      - name: Build PDFs (Consensus report)
        run: |
          nix build -L .#consensus-pdfs
          cp -r --no-preserve=mode,ownership result/ static/pdfs

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Test build website
        run: yarn build
